/* Counter */
.counter-section {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.counter-container {
    flex: 1;
    text-align: center;
    padding: 30px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.counter-section h3 {
    font-family: var(--font-system);
    color: white;
    background-color: black;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    letter-spacing: 2px;
    line-height: 1.3;
    font-size: 1.1rem;
}

.counter-container:hover {
    transform: translateY(-10px);
}

.counter-image {
    margin-bottom: 30px;
}

.counter-image img {
    width: 30%;
}

.counter-number {
    margin: 30px 0;
}

.counter {
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--font-playfair);
}

.counter-text p {
    font-family: var(--font-system);
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}