/* Events */
.main-event {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-event h3 {
    font-family: var(--font-system);
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.main-event h1 {
    font-family: var(--font-playfair);
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 3px;
}

.main-event-date {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 20rem;
    gap: 5rem;
}

.event-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.7rem;
}

.event-item p {
    font-family: var(--font-system);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main-event a {
    font-family: var(--font-system);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    padding: 0.7rem 4rem;
    border: 2px solid black;
    color: white;
    background-color: black;
    position: relative;
    overflow: hidden;
    margin-top: 3rem;
    z-index: 1;
}

.main-event a:hover {
    color: black;
    background-color: white;
    border-color: black;
    transition: all 0.3s ease-in-out;
}

.main-event a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: white;
    transition: left 0.3s ease-in-out;
    z-index: -1;
}

.main-event a:hover::before {
    left: 0;
}