/* Photo Gallery */
.photo-gallery {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    margin: 0;
}

.left-photo { grid-column: 1; grid-row: 1 / span 2; }
.right-top-photo { grid-column: 2; grid-row: 1; }
.right-bottom-left { grid-column: 2; grid-row: 2; width: 50%; justify-self: start; }
.right-bottom-right { grid-column: 2; grid-row: 2; width: 50%; justify-self: end; }

.photo-gallery>div {
    position: relative;
    overflow: hidden;
}

.photo-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
