/* Swiper */
.swiper {
    width: 100%;
    height: 45rem;
    margin: 7rem 0;
}

.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    max-width: 60rem;
    text-align: center;
    width: 90%;
}

.slide-content h3 {
    font-family: var(--font-system);
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 1rem;
}

.slide-content p {
    font-family: var(--font-playfair);
    font-weight: 400;
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: white;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

.swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 50%);
    z-index: 1;
}